* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    gap: 30px;
}

.logo {
    padding: 10px;
    background-color: green;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.nav__link {
    font-size: 25px;
    color: blueviolet;
    font-weight: 600;
}

.header {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.fantasy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.boat {
    position: absolute;
    bottom: 10%;
    left: 15%;
}

.cloud {
    position: absolute;
    mix-blend-mode: overlay;
}

.cloud:nth-of-type(2) {
    top: 20%;
    left: 10%;
}

.cloud:nth-of-type(3) {
    top: 10%;
    left: 25%;
}

.cloud:nth-of-type(4) {
    top: 20%;
    right: 15%;
}

.div {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img {
    position: absolute;
    transition: 0.5s linear all;
}

.img:nth-of-type(1) {
    width: 140%;
    height: 140%;
    object-fit: cover;
    left: -20%;
    top: -20%;
}

.img:nth-of-type(2) {
    left: 10%;
    top: 15%;
}

.img:nth-of-type(3) {
    right: 20%;
    top: 30%;
}

.box {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;

}

:root {
    --color: hotpink;
}

.card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
    color: greenyellow;
    font-size: 60px;
    border-radius: 10px;
}

.btn {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 35px;
    color: red;
    font-weight: 700;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.btn::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: var(--x);
    top: var(--y);
    background-color: blue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.2s;
}

.btn:hover::after {
    width: 500px;
    height: 500px;
}

.title {
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-transform: uppercase;
    color: greenyellow;
    text-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 30px red,
        0 0 40px red;
}

.info {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.info__box{
    perspective: 1000px;
}
.info__card {
    width: 250px;
    height: 250px;
    background-image: url(../images/mushu.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
    0 0 20px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}